:root {
  --color-bg: #14212d;
  --color-offset: #6ba8e6;
  --color-offset-light: #bacee2;
  --color-offset-medium: #9dc0e2;
  --color-offset-transparent: #6ba8e655;
  --font-sans: "Roboto";
  --font-serif: "Cormorant", "Cormorant Garamond";
  --unit: 18px;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--color-bg);
  min-height: 100vh;
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, label, p {
  font-family: "Cormorant Garamond";
  font-size: var(--unit);
  line-height: calc(var(--unit) * 1.5);
  margin-bottom: calc(var(--unit) * 1.5);
}

h1 {
  font-size: calc(var(--unit) * 3);
  font-weight: 800;
  line-height: calc(var(--unit) * 3);
  margin-bottom: 0;
}

.sub-card {
  border-left: 1px solid black;
  box-sizing: border-box;
  margin-bottom: calc(var(--unit) * 0.5);
  padding: calc(var(--unit) * 0.25);
  width: 100%;
}

input {
  background-color: var(--color-bg);
  border: none;
  border-bottom: 1px dotted var(--color-offset);
  box-sizing: border-box;
  color: var(--color-offset);
  font-family: "Cormorant Garamond";
  font-size: calc(var(--unit));
  font-weight: 100;
  outline: none;
  width: calc(100% - 20px);
}